html {
    scroll-padding-top: 60px; /* navbar height */
}

body {
    font-family: "sans-serif";
}
.continuous-marquee {
  /* Ensure the text stays in one line and is wider than its container */
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%; /* Start the text completely off-screen to the right */
  /* Animation properties */
  animation: marquee 30s linear infinite; /* Adjust duration as needed */
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    /* Move the text entirely off-screen to the left */
    transform: translate(-100%, 0);
  }
}

h2,h3,h4,h5,h6{
    text-align: center;
    color:#062057
}

.card:hover {
  transform: translateY(-5px); /* Lifts the card slightly on hover */
}
#contactbtn:hover {
    background-color: #008CBA;
    color: white;
}
